@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    /* background-color: yellow; */
    margin:0;
    box-sizing: border-box;
    
}


/*1. The below covers the top part of the page until the next numbered comment */

.header {
    background-color: #1F2637;
    color:white;
    padding:12px;
    flex:1;
    display: flex;
    justify-content: center;
    margin-bottom:50px;

}

.navigation {
    display:flex;
    margin-bottom:50px;
}

.logo {
    font-size: 24px;
    color:#F9FAF8;
    font-weight: bold;
}

.navlinks{
    display: flex;
    list-style-type: none;
    margin-left:auto;
    gap:32px;
    
}

.navlinks a {
    text-decoration: none;
    color:white;
}

.hero {
    display:flex;
    margin-bottom:50px;
    gap:16px;
}

.hero-text {
    width:50%;
    color:#F9FAF8;
}

.hero-text-header {
    font-size: 48px;
    font-weight:900;
    margin-bottom: 8px;
}

.hero-text-info {
    margin-bottom:8px;
}

.hero button {
    background-color: #3882F6;
    border:none;
    border-radius: 5px;
    color:white;
    padding:8px 24px;
    font-weight: bold;
}

.hero-pic {
    display:flex;
    background-color: grey;
    flex:1;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/*2. The below covers the 2nd from the top section until the next numbered comment. */

.middle {
    flex:1;
    text-align: center;
    margin-bottom:50px;
}

.mid-title {
    font-size: 36px;
    color:#1F2937;
    font-weight: 900;
    margin-bottom:50px;
}

.mid-content {
    display: flex;
    justify-content: center;
    gap:48px;
    flex-wrap: wrap;
}

.mid-squares {
    max-width:150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;

}

.mid-pic {
    min-height:150px;
    width:100%;
    border:#3882F6 solid;
    border-radius: 10px;
}

/*3. The below covers the 3rd from the top section until the next numbered comment. */

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    flex-wrap:wrap;
    
}

.quote-container {    
    max-width: 830px;
    padding:100px 0;
}

.quote-text {
    font-style: italic;
    font-size: 36px;
    color:#1F2937;
}

.quote-name {
    font-weight: bold;
    text-align: right;
}

/*4. The below covers the 4th from the top section until the next numbered comment. */

.action {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:100px 0;
}

.action-container {
    background-color: #3882F6;
    color:white;
    display:flex;
    padding:48px 200px;
    border-radius:8px;
    gap:150px;
}

.action button {
    background-color: #3882F6;
    border:white solid 3px;
    border-radius: 5px;
    color:white;
    padding:8px 24px;
    font-weight: bold;
}

.action-text-top {
    font-weight:bold;
    font-size: 20px;
}

.action-text-bottom {
    font-size:16px;
}

/*5. The below covers the 5th or last from the top section until the next numbered comment. */

.footer {
    display:flex;
    justify-content: center;
    background-color: #1F2637;
    color:white;
}

.footer-container {
    padding:16px 0;
}